@import '../../variables';

.game-field {
  width: 1180px;
  height: 650px;

  cursor: crosshair;
  position: relative;
}

.game-wrapper {
  background-color: $secondary-color;
  box-shadow: 8px 9px 20px -2px #000;
  margin-top: 20px;
}

.message {
  text-align: center;
  font-size: 83px;
  padding-top: 200px;
}