.panel {
  text-align: center;
  font-size: 30px;
  color: #000;
  background-color: #fff;
  padding: 40px 0;
  margin-top: 60px;
}

.game-field {
  width: 1200px;
  height: 680px;
  background-color: #fff;
  cursor: crosshair;
  position: relative;
}

.message {
  text-align: center;
  font-size: 83px;
  padding-top: 165px;
}