@import 'variables';

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Sniglet', cursive;
}

#root {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: $primary-color;
  padding-bottom: 300px;
}